@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --main-col-1: grey;
  --main-col-2: #a8d6ed;
  --main-col-3: #0031cd;
  --main-col-4: #0e0f17;

  /* font sizes */
  --i: 4px;
  --ii: 8px;
  --iii: 12px;
  --iv: 16px;
  --v: 20px;
  --vi: 24px;
  --vii: 28px;
  --viii: 32px;
  --ix: 36px;
  --x: 40px;
  --xi: 44px;
  --xii: 48px;
  --xiii: 52px;
  --xiv: 56px;
  --xv: 60px;
  --xvi: 64px;
  --xvii: 68px;
  --xviii: 72px;
  --xix: 76px;
  --xx: 80px;
  --xxi: 84px;
  --xxii: 88px;
  --xxiii: 92px;
  --xxiv: 96px;
  --xxv: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: var(--main-col-4);
  font-family: "Poppins", sans-serif;
}

.our-values {
  text-align: center;
}

.our-values h5 {
  font-weight: 300;
}

/* navigation section */
.header {
  box-sizing: border-box;
  background-color: transparent;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
}

.nav-flex {
  margin: 0 auto;
  width: 100%;
  /* max-width: 1200px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: var(--v);
}












/* nav section */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.our-values h2 {
  font-size: 40px;
  font-weight: 300;
}

.grid li {
  border-bottom: 3px solid white;
  padding: 40px 100px 20px;
  font-size: 26px;
}
.menubar {
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px); 
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 8px;
  border: 1px solid transparent;
  color: white;
}

.menubar2 {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  max-width: 30%;
  gap: 6px;
  /* padding: 8px; */
  border: 1px solid transparent;
  border-radius: 40px;
  color: white;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

.contact-btn {
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: var(--main-col-3);
  color: white;
  padding: var(--ii);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.services-h {
  font-size: var(--v);
  padding-top: var(--iii);
}

.services-p {
  font-size: var(--iii);
  word-spacing: var(--i);
}

a:hover {
  /* border-bottom: 2px solid; */
  color: var(--main-col-3);
}

.sect-pad {
  padding: 100px 0;
}

.landing-page {
  background: var(--main-col-4);
  width: 100%;
  height: 100vh;
}

footer {
  background-color: white;
  color: black;
}

.hero-text {
  max-width: 40%;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: var(--xv);
  text-transform: capitalize;
}

.bg-color-orange {
  background-color: orange;
  color: white;
}
.bg-inherit {
  background-color: inherit;
}
.cards {
  width: 100%;
  text-align: left;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0;
  margin: 0 4px;
  overflow: hidden;
  position: relative;
  color: white;
}

.service-grid {
  display: grid;
  /* grid-template-columns: repeat(3 , auto); */
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-black {
  color: black;
}
img {
  width: 100%;
  height: 100%;
}
.bg-footer {
  background-color: #0f172b;
}

.footer-bg {
  padding: 70px 0px 20px;
  color: white;
  background-color: #0f172b;
}
.img-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  z-index: -3;
}


.display-value {
  display: block;
  visibility: visible;
}

.hide-value {
  visibility: hidden;
}

.text-box {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-box-cont {
  width: 80%;
  max-width: inherit;
  margin: 0 auto;
}
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.black {
  background-color: black;
}

.our-values-img-container {
  width: 50%;
  max-width: 100%;
  height: 100%;
}

.comp-values {
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
}

.comp-values li {
  width: 100%;
  padding: 30px 40px;
  border: 1px solid #d3d4d6;
  text-align: center;
  cursor: pointer;
}
.bg-color-grey {
  background-color: #eef0f2;
  color: black;
}
.comp-values-sub-h {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #ffff;
  color: black;
  align-items: center;
  background: url("/the-one.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.comp-values-hero {
  flex: 1;
  height: auto;
}
.comp-values-hero .textbox {
  width: 70%;
  margin: 0 auto;
  /* text-align: center; */
}
.comp-values-hero .textbox h3 {
  font-size: 43px;
}

.comp-values-img {
  flex: 1;
  /* border: 2px solid blue; */
}
.comp-values-img img {
  width: 100%;
  height: auto;
}
.flex3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.our-values-img-container img {
  width: 100%;
}

.flex3 :nth-child(2) {
  width: 50%;
}

.our-values-text {
  text-align: left;
  padding: 0 15px;
  margin: 0 10px;
}

.border-y {
  border: 1px solid yellow;
}

/* Default state: hide hamburger menu */
#hamburger-menu {
  visibility: hidden;
  display: none;
}

a {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .menubar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 90;
    width: 100%;
    margin: 0 auto;
    border-radius: unset;
    background-color: white;
    color: black;
    left: 0;
    right: 0;
    top: 100px;
    max-width: 100%;
    transition: 0.5s;
  }

  .grid li {
    padding: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container,
  .nav-flex {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  #hamburger-menu {
    display: block;
  }

  .contact-btn {
    display: none;
  }

  .menubar li {
    padding: 15px 0;
    transition: 0.5s;
  }

  .collapse-nav {
    display: none;
    transition: 0.5s;
  }

  .cards {
    width: 100%;
    margin: 10px auto;
    /* max-width: 400px; */
    /* min-width: 100%;
    max-height: 400px; */
  }

  .img-container {
    width: 400px;
  }

  .service-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: square;
  }
  footer .container{
    width: 100%;
    /* padding: 0; */
  }
  footer section ul{
    padding-top: 30px;
  }

  footer section{
    flex-direction: column;
     padding: 0px;
  }
 

  .small-txt{
    font-size: 14px;
    flex-direction: column;
  }
  
  .grid li {
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .menubar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 90;
    width: 100%;
    margin: 0 auto;
    border-radius: unset;
    background-color: white;
    color: black;
    left: 0;
    right: 0;
    top: 100px;
    max-width: 100%;
    transition: 0.5s;
  }

  .logo {
    font-size: 20px;
    padding: 40px 0;
  }

  footer .logo{
    padding: 40px 0px 0px;
  }

  .container,
  .nav-flex {
    max-width: 337px;
    width: 100%;
    margin: 0 auto;
  }

  #hamburger-menu {
    display: block;
  }

  .contact-btn {
    display: none;
  }

  .menubar li {
    padding: 15px 0;
    transition: 0.5s;
  }

  .collapse-nav {
    display: none;
    transition: 0.5s;
  }

  .cards {
    width: 100%;
    margin: 10px auto;
    /* max-width: 400px; */
    /* max-height: 400px; */
  }

  .img-container {
    width: 400px;
  }

  .service-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    margin: 0 auto;
  }

  .flex3 {
    display: block;
    width: 100%;
  }

  .flex3 :nth-child(1) {
    width: 100%;
  }
  .flex3 :nth-child(2) {
    width: 100%;
  }

  .hero-text {
    max-width: 100%;
    margin: 0 auto;
  }

  #hamburger-menu {
    visibility: visible;
    display: block;
  }
  /* #0F172B */

  footer {
    text-align: center;
    line-height: 2;
  }

  .footer-bg {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
  }

  /* .flex5 {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  } */

  .footer-about {
  font-size: 13px;
  width: 100%;
  padding: 0;
}
.footer-cont{
  width: 100%;
}
.footer-cont h4{
  font-weight: normal;
  padding: 10px 0;
}
}

.tab-btn {
  cursor: pointer;
}

.tab-btn.active {
  border-bottom: 3px solid red;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

 .grey{
    color: grey;
  }

.small-txt{
  display: flex;
/* justify-content: space-between; */
padding: 10px 0;
justify-content: center;  
}

.small-txt li{
  padding: 0px 20px;
}

/* Services page */

.blue-overlay {
  background-color: rgba(0, 49, 205, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 8px;
  font-size: calc(24px + 4 * ((100vw - 320px) / 880));
}

.hvy-blue-overlay {
  background: linear-gradient(rgba(0, 49, 205, 0.3));
  font-size: calc(24px + 4 * ((100vw - 320px) / 880));
}
.black-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 8px;
  font-size: calc(24px + 4 * ((100vw - 320px) / 880));
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  padding: 20px;
  margin: 0 auto;

  max-width: 1200px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  /* border: 1px solid; */
  text-decoration: none;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  font-size: calc(24px + 4 * ((100vw - 320px) / 880));
  top: 0px;
  width: 100%;
  left: 0px;
  /* background: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  color: white;
  padding: 8px;
}
.service-txt-box {
  padding: 30px;
  /* border: 2px solid red; */
}

.grid-no-one {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-no-two {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-no-three {
  grid-column: span 1;
  grid-row: span 1;
}

.grid-no-four {
  grid-column: span 1;
  grid-row: span 3;
}

.grid-no-five {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-no-six {
  grid-column: span 2;
  grid-row: span 2;
}

.br {
  border: 2px solid red;
}

.footer-about {
  font-size: 13px;
  width: 100%;
  max-width: 400px;
  padding: 0;
}

.footer-cont h4{
  font-weight: normal;
  padding: 10px 0;
}
footer section{
  display: flex;
  align-items: top;
  padding: 50px 0px 20px;
  /* justify-content: space-between; */
  justify-content: space-between;
  /* border: 2px solid yellow; */
  line-height: 2;
  width: 100%;
}